<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #013d05">
  
      <div class="centerInDiv">
          
          <a class="navbar-brand" href="#"><img class="col-sm-3 img-fluid img-center" src="image/postitL.png" alt="PostIt Logo"></a>
      
      </div>

    </nav>

    <div class="container-fluid" style="height: 81vh">
  
      <div class="col-sm-10 center">

          <div style="text-align:center; margin: auto; padding: 50px">            

            <a href="group.html" style="text-decoration: none; color:black">

              <img class="img-fluid" style="height: 60px" src="image/add.png" alt="Add Button">
              <p>Create Group</p>

            </a>

        </div>

        <div class="row">

          <div class="col-sm-4 mBoard">

            <div class="row  mBoardTop">
            
              <a href="messageBoard.html" class="noLinkDeco"><p><img class="grpImgWidth" src="image/group.png"> Sample Group 1</p></a></a>

            </div>

            <div>
            
              <p>Time Stamp<br>Sample User message1</p>
              <p>Time Stamp<br>Sample User message2</p>
              <p>Time Stamp<br>Sample User message3</p>

            </div>

          </div>

          <div class="col-sm-4 mBoard">

            <div class="row  mBoardTop">
            
              <a href="messageBoard.html" class="noLinkDeco"><p><img class="grpImgWidth" src="image/group.png"> Sample Group 2</p></a></a>

            </div>

            <div>
            
              <p>Time Stamp<br>Sample User message1</p>
              <p>Time Stamp<br>Sample User message2</p>

            </div>

          </div>

          <div class="col-sm-4 mBoard">

            <div class="row  mBoardTop">
            
              <a href="messageBoard.html" class="noLinkDeco"><p><img class="grpImgWidth" src="image/group.png"> Sample Group 3</p></a></a>

            </div>

            <div>
            
              <p>Time Stamp<br>Sample User message1</p>
              <p>Time Stamp<br>Sample User message2</p>
              <p>Time Stamp<br>Sample User message3</p>
              
            </div>

          </div>

          <div class="col-sm-4 mBoard">

            <div class="row  mBoardTop">
            
              <a href="messageBoard.html" class="noLinkDeco"><p><img class="grpImgWidth" src="image/group.png"> Sample Group 4</p></a></a>

            </div>

            <div>
            
              <p>Time Stamp<br>Sample User message1</p>
              <p>Time Stamp<br>Sample User message2</p>
              <p>Time Stamp<br>Sample User message3</p>

            </div>

          </div>
        
        </div>

      </div>

    </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>