<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #013d05">
  
      <div class="centerInDiv">
          
          <a class="navbar-brand" href="#"><img class="col-sm-3 img-fluid img-center" src="image/postitL.png" alt="PostIt Logo"></a>
      
      </div>

    </nav>

    <div class="container-fluid" style="height: 81vh">
  
      <div class="col-sm-10 center">

          
        <div>
      
            <div class="group col-sm-12 text-center">
                <a href="group.html">
                    <img class="img-fluid" width="70px" src="image/gIcon.png">
                    <h5>Create Group</h5>
                </a>
            </div>
    
      <div class="row">
      
          
          <div class="col-sm-12">
          
              <div class="card card-inverse card-success mb-3">
                
                <div class="card-block">
                
                  <blockquote class="card-blockquote">
                
                    <a href="messageBoard.html" class="noLinkDeco text-right"><h5>Sample Group 1 <img style="margin-left: 2%" class="grpImgWidth" src="image/groupw.png"></h5></a>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 1</span></p>
                
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 2</span></p>
                
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 3</span></p>
                
                  </blockquote>
                
                </div>
              
              </div>

              <div class="card card-inverse card-success mb-3">

                <div class="card-block">

                  <blockquote class="card-blockquote">

                    <a href="messageBoard.html" class="noLinkDeco text-right"><h5>Sample Group 2 <img style="margin-left: 2%" class="grpImgWidth" src="image/groupw.png"></h5></a>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 3</span></p>

                  </blockquote>

                </div>

              </div>

              <div class="card card-inverse card-success mb-3">

                <div class="card-block">

                  <blockquote class="card-blockquote">

                    <a href="messageBoard.html" class="noLinkDeco text-right"><h5>Sample Group 3 <img style="margin-left: 2%" class="grpImgWidth" src="image/groupw.png"></h5></a>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 3</span></p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 1</span></p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 2</span></p>

                  </blockquote>

                </div>

              </div>

              <div class="card card-inverse card-success mb-3">

                <div class="card-block">

                  <blockquote class="card-blockquote">

                    <a href="messageBoard.html" class="noLinkDeco text-right"><h5>Sample Group 4 <img style="margin-left: 2%" class="grpImgWidth" src="image/groupw.png"></h5></a>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 1</span></p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<br><span style="font-weight: bold">Username 2</span></p>

                  </blockquote>

                </div>

              </div>
              
          
          </div>
          
        
        </div>
      
      </div>

    </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>