<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Import Css-->
    <link type="text/css" rel="stylesheet" href="style.css">

  </head>
  <body>
    

    <div class="container">
      <div class="row centerInDiv">
        <img width="30%" src="image/postitD.png" alt="PostIt Logo">
      </div>

      <div class="row">

        <div class="container col s12 m12">

        <form class="">
          <div class="row">
            <div class="input-field col s12 m12">
              <input class="validate" type="text" id="userName" data-error="wrong" data-success="right">
              <label for="userName">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12">
              <input class="validate" type="password" id="password" data-error="wrong" data-success="right">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row centerInDiv">
            <button class="btn-large green darken-4 waves-effect" type="submit" name="action"><a class="white-text" href="broadcast.html">Cancel</a>
              <i class="material-icons right">cancel</i>
            </button>
            <button class="btn-large green darken-4 waves-effect" type="submit" name="action"><a class="white-text" href="broadcast.html">Create</a>
              <i class="material-icons right">create</i>
            </button>            
          </div>
          
        </form>

        </div>
      
      </div>
      
    </div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>