.noLinkDeco{

  text-decoration: none;
  color: black;

}

.noLinkDeco, a:hover{

  text-decoration: none;
  color: black;

}

.noLinkDeco, a:visited{

  text-decoration: none;
  color: #013d05

}

.noLinkDeco, a:active{

  text-decoration: none;

}

.noLinkDeco, a:link{

  text-decoration: none;

}

.messageHist{

  background-color: #d3d7d3;
  width: 100%;
  height: 100%;

}

.messageChat{

  background-color: #025c09;
  padding: 10px;
  width: 80%;
  position: fixed;
  bottom: 0;
  color: white;

}

.centerInDiv{
  
  text-align: center;
  margin: 0 auto;

}

.center{
  
  margin: auto;

}

.customButton {

  text-decoration: none;
  color: white;

}

.grpImgWidth {

    width: 50px;

}

.mBoard {

  border-bottom: 1px solid black;

}

.mBoardTop {

    padding-left: 3%;
    padding-top: 8px;
    padding-bottom: 1px;

}