.signButton{
  cursor: pointer;
}

.logout{
  cursor: pointer;
  padding-right: 50%;
}

.center{
  margin: auto;
}

.cGroup{
  padding-top: 5%;
  cursor: pointer;
}

.click{
  cursor: pointer;
}

.profile{
  margin-top: 10%;
}

.message{
  border: 2px solid green;
  padding: 10px;
  height: 350px;
  overflow-y: scroll;
}

.messageBoard{
  margin-top: 0px
}

.sendMessage {
  overflow-x: scroll;
  width: 100px
}

.boardMessage{
  font-size: 10px;
}

.addUser{
  height: 400px;
  overflow-x: scroll;
  border: 0.5px solid black;
}

.hide{
  display: none;
}

.show{
  display: block;
}