.signButton{
  cursor: pointer;
}

.logout{
  cursor: pointer;
  padding-right: 50%;
}

.center{
  margin: auto;
}

.cGroup{
  padding-top: 5%;
  cursor: pointer;
}

.click{
  cursor: pointer;
}

.profile{
  margin-top: 10%;
}

.message{
  border: 2px solid green;
  padding: 10px;
  height: 350px;
  overflow-y: scroll;
}

.messageBoard{
  margin-top: 5%;
}

.sendMessage {
  overflow-x: scroll;
  width: 100px
}

.boardMessage{
  font-size: 10px;
}

.addUser{
  height: 400px;
}

.addUserBtn {
  padding: 5%;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.forgotInput{
  margin: auto;
}

.forgotBold{
  font-weight: bold
}

.underline{
  text-decoration: underline;
  font-weight: bold;
  color: #004d40;
}

.modalWidth {
  width: 80%;
}

.addUserButtons {
  position: relative;
  bottom: -80%;
}

.modalButton {
  z-index: auto;
}

.pagination {
  cursor: pointer;
}

.addUserList {
  height: 210px;
}

.groupMessage {
  padding-top: 10px;
}